<content class="content">
    <!-- Título -->
    <mat-card class="card tab-title" style="width: auto">
        <h1>Esta é a área de monitoramento de sistema</h1>
        <h2>Aqui você pode verificar o status do seu jardim com o Arduino</h2>
    </mat-card>
    <!-- Conteúdo -->
    <div class="content-div">
        <!-- Seta esquerda -->
        <div class="arrow">
            <button mat-button (click)="pageLeft()" style="width: 100%; height: 100%">
                <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
            </button>
        </div>

        <!-- Gráficos -->
        <!-- Temperatura -->
        <div class="graphs-div" *ngIf="page === 0">
            <!-- Card de Temperatura -->
            <mat-card class="card">
                <div style="width: 100%">
                    <div class="card-title">Temperatura</div>
                </div>
                <div class="card-content">
                    <app-graph [mergeOptions]="tempGaugeMergeOptions" [options]="tempGaugeOptions"></app-graph>
                </div>
                <button mat-raised-button (click)="toggleHistTemp()" class="history-button"><span>{{histTemp ? 'Fechar'
                        :
                        'Ver'}}
                        histórico</span>
                    <mat-icon>{{histTemp ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </mat-icon>
                </button>
            </mat-card>
            <!-- Histórico de Temperatura -->
            <mat-card class="card" *ngIf="histTemp">
                <div style="width: 100%">
                    <div class="card-title">Histórico de Temperatura</div>
                </div>
                <div class="card-content">
                    <app-graph [mergeOptions]="tempLineMergeOptions" [options]="tempLineOptions">
                    </app-graph>
                    <button mat-raised-button (click)="exportCSV('temp')">Baixar Histórico</button>
                </div>
            </mat-card>
        </div>

        <!-- Luminosidade -->
        <div class="graphs-div" *ngIf="page === 1">
            <!-- Card de Luminosidade -->
            <mat-card class="card">
                <div style="width: 100%">
                    <div class="card-title">Luminosidade</div>
                </div>
                <div class="card-content">
                    <app-graph [mergeOptions]="lightGaugeMergeOptions" [options]="lightGaugeOptions">
                    </app-graph>
                </div>
                <button mat-raised-button (click)="toggleHistLight()" class="history-button"><span>{{histLight ?
                        'Fechar' :
                        'Ver'}} histórico</span>
                    <mat-icon>{{histLight ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </mat-icon>
                </button>
            </mat-card>
            <!-- Histórico de Luminosidade -->
            <mat-card class="card" *ngIf="histLight">
                <div style="width: 100%">
                    <div class="card-title">Histórico de Luminosidade</div>
                </div>
                <div class="card-content">
                    <app-graph [mergeOptions]="lightLineMergeOptions" [options]="lightLineOptions">
                    </app-graph>
                    <button mat-raised-button (click)="exportCSV('light')">Baixar Histórico</button>
                </div>
            </mat-card>
        </div>


        <!-- Umidade -->
        <div class="graphs-div" *ngIf="page === 2">
            <!-- Card de Umidade -->
            <mat-card class="card">
                <div style="width: 100%">
                    <div class="card-title">Umidade</div>
                </div>
                <div class="card-content">
                    <app-graph [mergeOptions]="umGaugeMergeOptions" [options]="umGaugeOptions"></app-graph>
                </div>
                <button mat-raised-button (click)="toggleHistUm()" class="history-button"><span>{{histUm ? 'Fechar'
                        :
                        'Ver'}}
                        histórico</span>
                    <mat-icon>{{histUm ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
                    </mat-icon>
                </button>
            </mat-card>
            <!-- Histórico de Umidade -->
            <mat-card class="card" *ngIf="histUm">
                <div style="width: 100%">
                    <div class="card-title">Histórico de Umidade</div>
                </div>
                <div class="card-content">
                    <app-graph [mergeOptions]="umLineMergeOptions" [options]="umLineOptions">
                    </app-graph>
                    <button mat-raised-button (click)="exportCSV('um')">Baixar Histórico</button>
                </div>
            </mat-card>
        </div>


        <!-- Seta direita -->
        <div class="arrow">
            <button mat-button (click)="pageRight()" style="width: 100%; height: 100%">
                <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</content>