<div *ngIf="showSpinner" class="spinner-class">
    <mat-spinner></mat-spinner>
</div>
<body>
<content class="content">
    <!-- Título -->
    <mat-card class="tab-title">
        <h1>BEM-VINDO AO TBSCAN</h1>
        <h2>Aqui você pode enviar seu exâme de tuberculose e receber um possível diagnóstico</h2>
    </mat-card>

    <div class="content-div">
        <mat-card class="card">
            <input type="file" id="files" class="file-upload" (change)="onFileSelected($event)" hidden/>
            <label for="files" class="btn" id="texto-botao">Enviar</label>
        </mat-card>
    </div>

    <div *ngIf="resultadoStatus && status" class="content-div">
        <mat-card class="card">
           <a style="color: red; font-size:large; min-width: 450px;">RESULTADO : Positivo com probabilidade de: {{percentageResult}}%</a>
           <a style="font-weight: bold; font-size: medium;"> Obs: O resultado apresentado não descarta a necessidade de visita ao médico, essa ferramenta almeja apenas fornecer um possível diagnóstico</a>
        </mat-card>
    </div>

    <div *ngIf="resultadoStatus && !status" class="content-div">
        <mat-card class="card">
           <a style="color: green; font-size:large; min-width: 450px;">RESULTADO : Negativo com probabilidade de: {{percentageResult}}%</a>
           <a style="font-weight: bold; font-size: medium;"> Obs: O resultado apresentado não descarta a necessidade de visita ao médico, essa ferramenta almeja apenas fornecer um possível diagnóstico</a>
        </mat-card>
    </div>


    <div class="img-card">
        <H1 class="tab-title">Siga as campanhas:</H1>
        <mat-card class="card img-card">
            <img class="imagem" src="../../../assets/images/tuberculose3.jpg" >

        </mat-card>
    </div>
    


</content></body>